@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sofia&display=swap');

body {
    background-image: url("/static/img/cacti_background.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #fff;
    min-height: 100vh;
    margin-bottom: 0px;
    opacity: 1;
}

.background-image{
    opacity: .85;
}

html{
    scroll-behavior: smooth;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    opacity: 1;
}


.landing-hero {
    text-align: center;
    min-height: calc(100vh - 60px);
    padding-top: 100px;
    opacity: 1;
} 

.profile-pictures img {
    border-radius: 50% !important;
    width: 350px;
    height: 350px;
    padding: 20px;
    border: #fff;
    border-style: double;
}

.greeting{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 100px;
}

.intro{
    font-family: 'Sofia', cursive;
    color:#fff;
    font-size: 30px;
}

footer{
    vertical-align:top;
    margin: 0px;
}

@media only screen and (max-width: 855px) {
    body {
        background-image: url("/static/img/cacti_background_mobile.jpeg");
        background-repeat:no-repeat;
        background-size:cover;
        background-color: #FEDA05;
        min-height: 150vh;
        margin-bottom: 0px;
    }
}