@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sofia&display=swap');

.profile-hero {
  background-color: #F3ECD4;
  opacity: .95;
  text-align: center;
  padding-bottom: 10px;
}

.profile-picture img {
  border-radius: 50% !important;
  width: max(30%, 20rem);     
  padding: 20px;
}
.social-logo{
  width:45px;
  color: #fff;
  margin: 10px;
}

#map {
  height: 25rem;
}
.name{
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.profile-wrapper{
  opacity: .95;
}

.card-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #FFF;
  background-color: #c6c1ad;
  opacity: .95;
  text-transform:uppercase;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
.card-body{
  background-color: #c6c1ad;
  color: #FFF;
}

#logo{
  height: 25px;
}

.ed-icon{
  margin-bottom: 10px;
}

.work-icon{
  margin-bottom: 10px;
}

.hobby-icon{
  margin-bottom: 10px;
  margin-left: 10px;
}

.hobby-img{
  margin-right: 5px;
  margin-top: 5px;
  width: 100%;
}
.hobby-img img {
  border-radius: 2rem;
  width: min(80%, 20rem);
  margin-bottom: 1rem;
}

.hobby-name{
  font-weight: bold;
}

hr:last-child {
  display: none;
}