{% extends "base.html" %}
{% block main %}

<div class="container-fluid landing-hero">
    <div id="profile-pictures" class="container profile-pictures">
        <div class="row">
            {% for name in names %}
            <div class="col">
                <a href="/profile/{{name}}">
                    <img src="/static/img/{{name}}.jpg" />
                </a>
                <h4 class="text-white">{{name}}</h4>
            </div>
            {% endfor %}
        </div>
  
    </div>
    <h1 class="text-center text-white">{{ title }}</h1>
</div>

{% endblock %}