{% extends "base.html" %}
{% block main %}

<div class="container-fluid landing-hero">
    <div id="profile-pictures" class="container profile-pictures">
        <div class="row">
            {% for name in names %}
                <h4 class="greeting">Hi</h4>
                <h4 class="intro">I'm {{name|capitalize}}!</h4>
                <div class="col">
                <a href="/profile/{{name}}">
                    <img src="/static/img/{{name}}.jpg" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div>
    <button onclick="document.location='/timeline'">Timeline Form</button>
</div>

{% endblock %}