{% extends "base.html" %}
{% block main %}

<div class="container-fluid profile-hero">
  <div class="container profile-picture">
    <a href="/profile/{{portfolio_data.name.lower()}}">
      <img src="/static/img/{{portfolio_data.name.lower()}}.jpg" />
    </a>
  </div>
  <h1 class="text-center text-white">{{ portfolio_data.name }}</h1>
</div>

<div>
  <div class="profile-wrapper">

    <div class="flex-left">
      <div class="about-me">
        {{ portfolio_data.aboutMe }}
      </div>
      <div class="experiences">
        <ul>
          {% for exp in portfolio_data.experiences %}
          <li>{{exp.title}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="hobbies">

      </div>
    </div>
    <div class="flex-right">
      <div class="projects">

      </div>
      <div class="education">

      </div>
      <div class="map=wrapper">

      </div>
    </div>
  </div>

</div>

{% endblock %}