{% extends "base.html" %}
{% block main %}

@app.route('/timeline')
def timeline():
    return render_template('timeline.html'. title="Timeline")

    <div className="form-wrapper">
        <br />
        <form className="form" action="/api/timeline_post" method="POST">
          <h3 id="form-title">Add a Timeline Post!</h3>
          <label aria-label="your name">
            <input
              type="text"
              name="name"
            />
          </label>
          <br />
          <label aria-label="email address">
            <input
              type="text"
              name="email_address"
            />
          </label>
          <br />
          <label aria-label="Content of your post">
            <input
              type="text"
              name="content"
            />
          </label>
          <br />
          </label>
          <br />
          <br />
          <button
            aria-label="button to submit form"
            id="form-submit"
          >
            SUBMIT
          </button>
        </form>
      </div>



{% endblock %}